In [2]:
# from sklearn.datasets import load_boston
import numpy as np

In [3]:
import pandas as pd
df = pd.read_csv('boston.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [11]:
import seaborn as sns
df.corr(numeric_only=True)['B'].sort_values()

RAD       -0.444413
TAX       -0.441808
CRIM      -0.385064
NOX       -0.380051
LSTAT     -0.366087
INDUS     -0.356977
AGE       -0.273534
PTRATIO   -0.177383
CHAS       0.048788
RM         0.128069
ZN         0.175520
DIS        0.291512
MEDV       0.333461
B          1.000000
Name: B, dtype: float64

In [42]:
X= df.drop(['MEDV'], axis=1)
y = df['MEDV']
X.shape, y.shape

((506, 13), (506,))

In [43]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score

In [45]:
lr = LinearRegression()
dt = DecisionTreeRegressor()
svr = SVR()

In [46]:
estimators = [('lr',lr),('dt',dt),('svr',svr)]

In [47]:
for estimator in estimators:
  scores = cross_val_score(estimator[1],X,y,scoring='r2',cv=10)
  print(estimator[0],np.round(np.mean(scores),2))

lr 0.2
dt -0.27
svr -0.41

In [48]:
from sklearn.ensemble import VotingRegressor

In [49]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr,X,y,scoring='r2',cv=10)
print("Voting Regressor",np.round(np.mean(scores),2))

Voting Regressor 0.43

In [50]:
for i in range(1,4):
  for j in range(1,4):
    for k in range(1,4):
      vr = VotingRegressor(estimators,weights=[i,j,k])
      scores = cross_val_score(vr,X,y,scoring='r2',cv=10)
      print("For i={},j={},k={}".format(i,j,k),np.round(np.mean(scores,2))

For i=1,j=1,k=1 0.45
For i=1,j=1,k=2 0.32
For i=1,j=1,k=3 0.25
For i=1,j=2,k=1 0.42
For i=1,j=2,k=2 0.4
For i=1,j=2,k=3 0.34
For i=1,j=3,k=1 0.37
For i=1,j=3,k=2 0.35
For i=1,j=3,k=3 0.38
For i=2,j=1,k=1 0.46
For i=2,j=1,k=2 0.38
For i=2,j=1,k=3 0.33
For i=2,j=2,k=1 0.45
For i=2,j=2,k=2 0.42
For i=2,j=2,k=3 0.41
For i=2,j=3,k=1 0.39
For i=2,j=3,k=2 0.41
For i=2,j=3,k=3 0.36
For i=3,j=1,k=1 0.41
For i=3,j=1,k=2 0.42
For i=3,j=1,k=3 0.38
For i=3,j=2,k=1 0.45
For i=3,j=2,k=2 0.44
For i=3,j=2,k=3 0.44
For i=3,j=3,k=1 0.44
For i=3,j=3,k=2 0.46
For i=3,j=3,k=3 0.44

In [51]:
# using the same algorithm

dt1 = DecisionTreeRegressor(max_depth=1)
dt2 = DecisionTreeRegressor(max_depth=3)
dt3 = DecisionTreeRegressor(max_depth=5)
dt4 = DecisionTreeRegressor(max_depth=7)
dt5 = DecisionTreeRegressor(max_depth=None)

In [52]:
estimators = [('dt1',dt1),('dt2',dt2),('dt3',dt3),('dt4',dt4),('dt5',dt5)]

In [53]:
for estimator in estimators:
  scores = cross_val_score(estimator[1],X,y,scoring='r2',cv=10)
  print(estimator[0],np.round(np.mean(scores),2))

dt1 -0.85
dt2 -0.21
dt3 0.09
dt4 0.1
dt5 -0.16

In [54]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr,X,y,scoring='r2',cv=10)
print("Voting Regressor",np.round(np.mean(scores),2))

Voting Regressor 0.19