In [19]:
import pandas as pd
import numpy as np

## HTML IO - Taking Inputs as tables from a HTML

In [20]:
url = "https://en.wikipedia.org/wiki/World_population"

In [21]:
tables = pd.read_html(url)
len(tables)

30

In [22]:
top_ten = tables[3]
top_ten

,Region,Density (inhabitants/km2),Population (millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,090,595 – India","13,515,000 – Tokyo Metropolis (37,400,000 – Gr..."
1,Africa,44.4,1340,"0,211,401,000 – Nigeria","09,500,000 – Cairo (20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million in...","13,200,000 – Moscow (20,004,000 – Moscow metro..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City (21,650,000 – São ..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City (23,582,649 – New Y..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"
6,Antarctica,~0,0.004[86],N/A[note 2],"00,001,258 – McMurdo Station"

## Excel IO

In [23]:
import pandas as pd
df = pd.read_excel('..\\Datasets\\Employee.xlsx',sheet_name='Department')
df

   Name     Team
0  Andy    Infra
1  Brad      Ops
2  Cody      Ops
3  Dave       HR
4  Eddy    Infra
5  Fred     Tech
6  Greg     Tech
7  Hugo  InfoSec

## IO using SQL

In [16]:
from sqlalchemy import create_engine

# Create an in-memory SQLite database
temp_db = create_engine('sqlite:///:memory:')

In [ ]:
df = pd.DataFrame(data=np.random.randint(
    0, 100, size=(4, 4)), columns=['a', 'b', 'c', 'd'])
df

In [ ]:
pd.read_sql(sql='new_table', con=temp_db)

In [ ]:
pd.read_sql(sql="SELECT a,c from new_table where a=60", con=temp_db)