In [1]:
import pandas as pd
import numpy as np

In [2]:
em = 'jack@mail.com'

In [3]:
em.split('@')[1].split('.')

['mail', 'com']

In [4]:
names = pd.Series(['andrew','jack','laura','cindy','5'])

In [5]:
names

0    andrew
1      jack
2     laura
3     cindy
4         5
dtype: object

In [6]:
tec_fin = ['SPFY,AMZN,META','JPM,BAC,GSC']

In [7]:
tickers= pd.Series(tec_fin)

In [8]:
tickers.str.split(',',expand=True)

      0     1     2
0  SPFY  AMZN  META
1   JPM   BAC   GSC

In [18]:
messy_names = pd.Series(['andrew   ','b;ob','  Claire   '])

In [14]:
messy_names.str.replace(';','').str.replace(' ','').str.title()

0    Andrew
1       Bob
2    Claire
dtype: object

In [15]:
def clean(name):
    name = name.replace(';','')
    name = name.strip()
    name = name.capitalize()
    return name

0    Andrew
1       Bob
2    Claire
dtype: object

In [19]:
messy_names

0      andrew
1           b;ob
2      Claire
dtype: object

In [20]:
messy_names.apply(func=clean)

0    Andrew
1       Bob
2    Claire
dtype: object

### Most Efficent is np.vectorise(func name)(Series)