In [39]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('aug_train.csv')

#### Opening a csv file from a URL

In [ ]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/zomato.csv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data).head()

# Different Parameters of read_csv()

## 1. sep and names

In [ ]:
pd.read_csv('movie_titles_metadata.tsv',sep="\t",names=['sno','title','release','ratings','reviews',
                                                       'genre']) # \t denotes tab

## 2. index_col ~  converts a specified column into row index

In [ ]:
pd.read_csv('aug_train.csv',index_col='enrollee_id')

## 3. header ~ specify the index no. of row that has to be specified as the header.

In [ ]:
pd.read_csv('test.csv',header = 1)

## 4. usecols ~  a list of columns that is to be used.

In [ ]:
pd.read_csv('aug_train.csv',usecols=['enrollee_id','gender','education_level'])

## 5. skiprows ~  a list of indies that is to be skipped.
## 6. nrows ~ only read n rows from data.

In [ ]:
pd.read_csv('aug_train.csv',skiprows=[0,2],nrows=20)

## 7. encoding ~ specify the encoding of the file if it's other then utf-8

In [ ]:
pd.read_csv('zomato.csv',encoding = 'latin-1')

### 8. parse_dates ~ Handling Date Columns, pass the list of columns that contain date elements

In [ ]:
pd.read_csv("IPL Matches 2008-2020.csv",parse_dates=['date']).info()

### 9. convertors ~ used to apply a function over the values of the column. {'col_name':function_name}

In [ ]:
def rename_team(name):
    if name == "Royal Challengers Bangalore":
        return "RCB"
    else:
        return "RCB"

rename_team("Royal Challengers Bangalore")

In [ ]:
pd.read_csv("IPL Matches 2008-2020.csv",converters={'team1':rename_team}).head()

### 10. dtype ~ changes the dtype of specified column

In [ ]:
# pd.read_csv("IPL Matches 2008-2020.csv",dtype={'team1':rename_team}).head()
df = pd.read_csv("IPL Matches 2008-2020.csv",dtype={'neutral_venue': 'float32'})
df.info()
df.head()

### na_values ~ a list that contains all Non-NA Values that has to be considered as a NA Value (eg. '-','*' etc.)

In [ ]:
pd.read_csv('aug_train.csv',na_values=['city_103'])

### Loading a huge datasets in Chunks.

In [ ]:
dfs = pd.read_csv('aug_train.csv',chunksize=5000)

In [ ]:
# dfs is collection of dataframes each o 5000 rows
for chunk in dfs:
    print(chunk.shape)