In [1]:
import numpy as np
import pandas as pd

# Working With JSON

In [2]:
df = pd.read_json('train.json')
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39774 entries, 0 to 39773
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           39774 non-null  int64
 1   cuisine      39774 non-null  object
 2   ingredients  39774 non-null  object
dtypes: int64(1), object(2)
memory usage: 932.3+ KB

 # Working with SQL

In [ ]:
# !pip install mysql.connector

### uses mysql.connector

In [5]:
# Use XAMPP and start Apache and MySQL
# goto http://localhost/phpmyadmin/ to access the database
# You can create your own data base or you can import the data from a sql dataset
# To get the dataset
# https://www.kaggle.com/datasets/busielmorley/worldcities-pop-lang-rank-sql-create-tbls
# Download sql file and import it in xampp
# Now you will see all the tables within the database.

In [6]:
import mysql.connector

In [ ]:
conn = mysql.connector.connect(
    host='localhost', user='root', password='', database='world')

In [ ]:
pd.read_sql_query("select * from city", con=conn)

In [ ]:
pd.read_sql_query("select * from city where CountryCode='IND'", con=conn)

In [ ]:
pd.read_sql_query(
    "select * from country where Region='South America'", con=conn)

In [ ]:
pd.read_sql()