
# Importing Dataset Practice Notebook

<h1 id="data_acquisition">Data Acquisition</h1>
<p>
There are various formats for a dataset, .csv, .json, .xlsx  etc. The dataset can be stored in different places, on your local machine or sometimes online.<br>
In this section, you will learn how to load a dataset into our Jupyter Notebook.<br>
In our case, the Automobile Dataset is an online source, and it is in CSV (comma separated value) format. Let's use this dataset as an example to practice data reading.
<ul>
    <li>dataset name: dataset_1.data</li>
    
</ul>
The Pandas Library is a useful tool that enables us to read various datasets into a data frame; our Jupyter notebook platforms have a built-in <b>Pandas Library</b> so that all we need to do is import Pandas without installing.
</p>

# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Importing datasets
<p>
We use <code>pandas.read_csv()</code> function to read the csv file. In the bracket, we put the file path along with a quotation mark, so that pandas will read the file into a data frame from that address. The file path can be either an URL or your local file address.<br>

</p>
<h4> Name of Dataset is "dataset_1.data" </h4>

In [4]:
headers_data = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print("headers\n", type(headers_data))

headers
 <class 'list'>

In [9]:
#Read the dataset in "df" variable
df = pd.read_csv('dataset_1.data')
df.columns = headers_data

After reading the dataset, we can use the <code>dataframe.head(n)</code> method to check the top n rows of the dataframe; where n is an integer. Contrary to <code>dataframe.head(n)</code>, <code>dataframe.tail(n)</code> will show you the bottom n rows of the dataframe.

In [10]:
# show the first 5 rows using dataframe.head() method
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [11]:
#show the last 10 rows of the dataframe.
df.tail(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
194,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
195,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
196,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
197,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
198,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

<h1 id="basic_insight">Basic Insight of Dataset</h1>
<p>
After reading data into Pandas dataframe, it is time for us to explore the dataset.<br>
There are several ways to obtain essential insights of the data to help us better understand our dataset.
</p>

<h2>Data Types</h2>
<p>
Data has a variety of types.<br>
The main types stored in Pandas dataframes are <b>object</b>, <b>float</b>, <b>int</b>, <b>bool</b> and <b>datetime64</b>. In order to better learn about each attribute, it is always good for us to know the data type of each column. In Pandas:
</p>

Syntax :
    dataframe.dtypes

returns a Series with the data type of each column.

In [12]:
# check the data type of data frame "df" by .dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  204 non-null    object
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               204 non-null    object
 19  stroke             204 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              204 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

<p>
As a result, as shown above, it is clear to see that the data type of "symboling" and "curb-weight" are <code>int64</code>, "normalized-losses" is <code>object</code>, and "wheel-base" is <code>float64</code>, etc.
</p>
<p>
These data types can be changed; we will learn how to accomplish this in a later module.
</p>

<h2>Describe</h2>
If we would like to get a statistical summary of each column, such as count, column mean value, column standard deviation, etc. We use the describe method:

This method will provide various summary statistics, excluding <code>NaN</code> (Not a Number) values.

In [15]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
symboling,204.0,0.823529,1.239035,-2.0,0.000,1.0,2.00,3.0
wheel-base,204.0,98.806373,5.994144,86.6,94.500,97.0,102.40,120.9
length,204.0,174.075000,12.362123,141.1,166.300,173.2,183.20,208.1
width,204.0,65.916667,2.146716,60.3,64.075,65.5,66.90,72.3
height,204.0,53.749020,2.424901,47.8,52.000,54.1,55.50,59.8
curb-weight,204.0,2555.602941,521.960820,1488.0,2145.000,2414.0,2939.25,4066.0
engine-size,204.0,126.892157,41.744569,61.0,97.000,119.5,142.00,326.0
compression-ratio,204.0,10.148137,3.981000,7.0,8.575,9.0,9.40,23.0
city-mpg,204.0,25.240196,6.551513,13.0,19.000,24.0,30.00,49.0
highway-mpg,204.0,30.769608,6.898337,16.0,25.000,30.0,34.50,54.0

<p>
This shows the statistical summary of all numeric-typed (int, float) columns.<br>
For example, the attribute "symboling" has 205 counts, the mean value of this column is 0.83, the standard deviation is 1.25, the minimum value is -2, 25th percentile is 0, 50th percentile is 1, 75th percentile is 2, and the maximum value is 3.
<br>
However, what if we would also like to check all the columns including those that are of type object.
<br><br>

You can add an argument <code>include = "all"</code> inside the bracket. Let's try it again.

</p>

In [16]:
# describe all the columns in "df" 
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
symboling,204.0,NaN,NaN,NaN,0.823529,1.239035,-2.0,0.0,1.0,2.0,3.0
normalized-losses,204,52,?,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
make,204,22,toyota,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fuel-type,204,2,gas,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aspiration,204,2,std,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num-of-doors,204,3,four,114,NaN,NaN,NaN,NaN,NaN,NaN,NaN
body-style,204,5,sedan,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drive-wheels,204,3,fwd,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN
engine-location,204,2,front,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wheel-base,204.0,NaN,NaN,NaN,98.806373,5.994144,86.6,94.5,97.0,102.4,120.9
length,204.0,NaN,NaN,NaN,174.075,12.362123,141.1,166.3,173.2,183.2,208.1
width,204.0,NaN,NaN,NaN,65.916667,2.146716,60.3,64.075,65.5,66.9,72.3
height,204.0,NaN,NaN,NaN,53.74902,2.424901,47.8,52.0,54.1,55.5,59.8
curb-weight,204.0,NaN,NaN,NaN,2555.602941,521.96082,1488.0,2145.0,2414.0,2939.25,4066.0
engine-type,204,7,ohc,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num-of-cylinders,204,7,four,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN
engine-size,204.0,NaN,NaN,NaN,126.892157,41.744569,61.0,97.0,119.5,142.0,326.0
fuel-system,204,8,mpfi,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bore,204,39,3.62,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stroke,204,37,3.40,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
compression-ratio,204.0,NaN,NaN,NaN,10.148137,3.981,7.0,8.575,9.0,9.4,23.0
horsepower,204,60,68,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
peak-rpm,204,24,5500,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city-mpg,204.0,NaN,NaN,NaN,25.240196,6.551513,13.0,19.0,24.0,30.0,49.0
highway-mpg,204.0,NaN,NaN,NaN,30.769608,6.898337,16.0,25.0,30.0,34.5,54.0
price,204,186,?,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<p>
Now, it provides the statistical summary of all the columns, including object-typed attributes.<br>
We can now see how many unique values, which is the top value and the frequency of top value in the object-typed columns.<br>
Some values in the table above show as "NaN", this is because those numbers are not available regarding a particular column type.<br>
</p>

In [7]:
#Replacing "?" with np.nan so that pandas can recognize the null values.

<h2>Info</h2>
Another method you can use to check your dataset is:

Syntax :
    dataframe.info()

It provide a concise summary of your DataFrame. 

This method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage.

In [8]:
# look at the info of "df"

<h2>Save Dataset</h2>
<p>
Correspondingly, Pandas enables us to save the dataset to csv  by using the <code>dataframe.to_csv()</code> method, you can add the file path and name along with quotation marks in the brackets.
</p>
<p>
    For example, if you would save the dataframe <b>df</b> as <b>automobile.csv</b> to your local machine, you may use the syntax below:
</p>

 We can also read and save other file formats, we can use similar functions to **`pd.read_csv()`** and **`df.to_csv()`** for other data formats, the functions are listed in the following table:

<h2>Read/Save Other Data Formats</h2>

| Data Formate |        Read       |            Save |
| ------------ | :---------------: | --------------: |
| csv          |  `pd.read_csv()`  |   `df.to_csv()` |
| json         |  `pd.read_json()` |  `df.to_json()` |
| excel        | `pd.read_excel()` | `df.to_excel()` |
| hdf          |  `pd.read_hdf()`  |   `df.to_hdf()` |
| sql          |  `pd.read_sql()`  |   `df.to_sql()` |
| ...          |        ...        |             ... |

<h1>Excellent! You have just completed the  Introduction  Notebook!</h1>

### Thank you for completing this tutorial dude!
### Now Let's deal with the missing values in this dataset in next tutorial.
<br>
<br>


## Bit ML
Thank You.