In [1]:
import pandas as pd
import numpy as np

In [2]:
from datetime import datetime

In [3]:
myser = pd.Series(['Nov 30, 1990','2000-01-01',None])

In [4]:
myser

0    Nov 30, 1990
1      2000-01-01
2            None
dtype: object

In [5]:
myser = pd.to_datetime(myser)

In [6]:
myser

0   1990-11-30
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [7]:
myser[0].now

In [8]:
style_date = '06/12/2000'

In [9]:
pd.to_datetime(style_date)

Timestamp('2000-06-12 00:00:00')

In [10]:
cust_date = '12th of July 2000 at 6:30 pm'

In [11]:
pd.to_datetime(cust_date)

Timestamp('2000-07-12 18:30:00')

In [12]:
sales =pd.read_csv('..\\DATA\\RetailSales_BeerWineLiquor.csv')

In [13]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [14]:
sales['DATE'].dt

In [26]:
sales =pd.read_csv('..\\DATA\\RetailSales_BeerWineLiquor.csv',parse_dates={'foo':[0]})
sales

           foo  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [16]:
sales.columns = ['Date','Sales']

In [17]:
sales.value_counts()

Date        Sales
1992-01-01  1509     1
2010-09-01  3365     1
2011-05-01  3471     1
2011-04-01  3363     1
2011-03-01  3249     1
                    ..
2001-04-01  2231     1
2001-03-01  2327     1
2001-02-01  2052     1
2001-01-01  2109     1
2020-04-01  5207     1
Length: 340, dtype: int64

In [18]:
sales.Date.dt.time

0      00:00:00
1      00:00:00
2      00:00:00
3      00:00:00
4      00:00:00
         ...
335    00:00:00
336    00:00:00
337    00:00:00
338    00:00:00
339    00:00:00
Name: Date, Length: 340, dtype: object